.body {
    /* height: 100vh; */
    /* overflow: hidden; */
}


.header {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header span {
    font-size: 12px;
}

.item-header-1 {
    padding: 8px 32px;
    background-color: #f4f4f4;
}

.header .item-header-1 span {
    color: #929292;
}

.header .item-header-1 span:hover {
    color: #03ac0e;
    cursor: pointer;
}

.header .item-header-1 img {
    width: 14px;
}

.header .item-header-2  {
    padding: 8px 32px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px -1px;
}

.header .item-header-2 .img-tokopedia {
    width: 147px;
}

.header .item-header-2 .text-kategori {
    padding: 2px 5px;
}

.header .item-header-2 .text-kategori:hover {
    background-color: #f3f4f5 !important;
    cursor: pointer !important;
    color: #03ac0e !important;
    border-radius: 5px;
}

.header .item-header-2 span {
    color: #929292;
}

.header .item-header-2 .img-search, .item-header-2 .img-shop  {
    width: 18px;
}

.header .item-header-2 .wrap-search {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 35px;
}

.header .item-header-2 .form-control {
    background-color: transparent;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 1px solid #cdcdcd;
    z-index: 1;
}

.header .item-header-2 .form-control::placeholder {
    color: #cdcdcd;
    font-size: 14px;
}

.header .item-header-2 .form-control:focus {
    box-shadow: none;
    border: 1px solid #03ac0e;
}

.header .item-header-2 .wrap-search .wrap-icon-search {
    position: absolute;
    right: 0;
    width: 4%;
    height: 100%;
    background-color: #f3f4f5;
    
}

.header .item-header-2 .wrap-search .wrap-icon-search .img-search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header .item-header-2 .wrap-img-shop{
    position: relative;
    background-color: transparent;
    height: max-content;
    width: max-content;
    padding: 0px 8px 5px 8px;
    border-radius: 3px;
    transition-duration: 0.5s ;
}

.header .item-header-2 .wrap-img-shop:hover{
    background-color: #f3f4f5;
    cursor: pointer;
}

.header .item-header-2 .line {
    font-size: 26px;
    color: #f3f4f5;
    margin-bottom: 8px;
    font-weight: 100;
}

.header .item-header-2 .btn {
    border-radius: 8px;
    font-size: 13px;
    background-color: #03ac0e;
    font-weight: bold;
}

.header .item-header-2 .btn:first-child {
    background-color: #ffffff;
    border: 1px solid #03ac0e;
    color: #03ac0e;
    font-weight: bold;
}

.header .item-header-2 .text-under-search {
    margin-left: 15%;
    font-size: 12px;
    color: #929292;
}

.header .item-header-2 .text-under-search span:hover {
    color: #03ac0e;
    cursor: pointer;
}

.header .menu-bar {
    display: none;
    position: absolute;
    right: 35px;
    top: 91px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
    padding: 50px 50px;
    border-radius: 12px;
    transition: transform 0.5s ease-out, opacity 0.3s ease-out;
    transform: translateY(-20px); /* Initially moved up */
    opacity: 0;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Ensures text is centered */
}

.menu-bar.active {
    display: flex;
    transform: translateY(0); /* Moves to normal position */
    opacity: 1;
}




/* .header .menu-bar {
    display: none;
    position: absolute;
    right: 35px;
    top: 91px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
    padding: 50px 50px;
    border-radius: 12px;
    transition: 0.1s;
    z-index: 999999;
}

.menuBarStyle {
    visibility: visible;
    display: flex;
    flex-direction: column; 
} */


.header .menu-bar .img-cart{
    height: 150px;
}

.header .menu-bar .btn-mulaibelanja {
    font-size: small;
    width: 50%;
    font-weight: bold;
    color: #03ac0e;
    background-color: #ffffff;
    border: 1px solid #03ac0e;
}

.header .menu-bar h4 {
    font-size: 18px;
    font-weight: bold;
}

.header .menu-bar p  {
    font-size: 14px;
    color: #31353bad;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.overlayStyle {
    display: block !important;
}

.modal {
    z-index: 999999;
}

.modal-content {
    top: 56px;
    right: 268px;
    padding: 19px;
    width: 150%;
    border-radius: 0;
    border: none;
}

.btn-tipstrick{
    background-color: #ffffff;
    width: 100%; 
    margin: 4px;  
    border-color: black;
}

.btn-tipstrick:hover {
    background-color: #f3f4f5;
    border-color: black;
}

.lastsearch-item {
    margin-top: 8px;
}

.lastsearch-item:hover {
    background-color: #f3f4f5;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

.btn-popularitem {
    color: #03ac0e;
    border-color: #03ac0e;
    border-radius: 12px;
}

.btn-popularitem:hover {
    color: #03ac0e;
    background-color: #f3f4f5;
    border-color: #03ac0e;
    border-radius: 12px;
}

/* Category Head*/

.category{
    display: flex;
    flex-direction: column;
    display: none;
    
}

.category.active {
    display: block;
    flex-direction: column;
    
}

.head-category {
    width: 100%;
    overflow-x: scroll;
    position: fixed;
    top: 120px;
    z-index: 99999;
    border-top: 1px solid #cdcdcd;
    background-color: #ffffff;
}

.head-category span {
    padding: 10px 30px;
    border-bottom: 2px solid transparent;
    color: #969696;
}

.head-category span:hover {
    padding: 10px 30px;
    color: #03ac0e;
    border-bottom: 2px solid #03ac0e;
    cursor: pointer;
}

.head-left {
    overflow-y: scroll;
    height: 100vh;
    padding-top: 190px;
    padding-left: 35px;
}

.head-left h6 {
    font-size: 12px;
    padding: 10px 0px 10px 10px;
    border-radius: 4px;
    margin-right: 10px;
}

.head-left h6:hover {
    background-color: gainsboro;
    cursor: pointer;
}

/* Carousel Style` */

.carousel {
    position: relative;
    top: 136px;
}

.carousel-inner {
    width: 95%;
    border-radius: 10px;
}

.carousel-indicators {
    margin-left: 5%;
    justify-content: left;
}

.carousel-indicators button {
    width: 12px !important;  /* Set equal width and height */
    height: 12px !important;
    border-radius: 50% !important;  /* Makes it a full circle */
    background-color: #fff; /* Change if needed */
    border: none; /* Remove any border */
    opacity: 0.5; /* Slight transparency */
}

/* Section Kategori Pilihan */

.kategori-pilihan {
    position: relative;
    top: 160px;
    margin: 8px 32px;
    box-shadow: rgba(49,53,59,0.12) 0px 1px 6px 0px;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 12px;
}

.carousel-kategoripilihan {
    position: relative;
    top: 0;
}

.card-category {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
}

.kategori-pilihan img {
    /* width: 80%; */
}

.kategori-pilihan h1 {
    font-size: 20px;
    font-weight: bold;
}

.kategori-pilihan h2 {
    font-size: 16px;
    font-weight: bold;
}

.kategori-pilihan h3 {
    font-size: 13px;
    font-weight: 400;
}

.item-topuptagihan {
    padding: 10px 0px;
    border-bottom: 2px solid transparent;

}

.item-topuptagihan:hover {
    border-bottom: 2px solid #03ac0e;
    color: #03ac0e;
    cursor: pointer;
}

.carousel-kategoripilihan .carousel-inner {
    width: 100%;
}

.menu-scroll {
    overflow-x: auto;  /* Ensure scrolling works */
    white-space: nowrap;  /* Prevent items from wrapping */
    display: flex;  /* Ensure horizontal flex container */
    flex-wrap: nowrap;  /* Prevent wrapping */
    width: 100%;  /* Ensure it spans the full width */
}

.menu-scroll::-webkit-scrollbar {
    display: none;
}

.item-scroll {
    border-radius: 14px;
    flex-shrink: 0;  /* Prevent shrinking so items stay in a row */
}

/* Welcome Banner */

.welcome-banner {
    padding: 8px 32px;
    position: relative;
    top: 180px;
    width: 100%;


}

/* Berdasarkan Pencarian Section */
.berdasarkan-pencarian {
    padding: 8px 32px;
    position: relative;
    top: 180px;
}


.berdasarkan-pencarian span {
    font-size: 15px;
}

.last-search {
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    box-shadow: rgba(49,53,59,0.12) 0px 1px 6px 0px;
}

.berdasarkan-pencarian h1 {
    font-size: 22px;
    font-weight: bold;
}

/* Wrap Affix */

.wrap-affix {
    position: relative;
    top: 190px;
    padding: 8px 32px;
}

.bg-affix1 {
    background-color: rgb(251, 187, 49);
    background-color: rgb(241, 160, 131);
    background: linear-gradient(
        90deg,
        rgb(254, 153, 12) 0%,
        rgb(252, 208, 98) 100%
    );
}

.bg-affix2 {
    background-color: rgb(98, 0, 73);
    background-color: rgb(57,0,98);
    background: linear-gradient(
        90deg,
        rgb(49, 97, 55) 0%,
        rgb(48, 223, 109) 100%
    );
}

.bg-affix3 {
    background-color: rgb(98, 0, 73);
    background-color: rgb(57,0,98);
    background: linear-gradient(
        90deg,
        rgb(114, 3, 88) 0%,
        rgba(158, 82, 150, 1) 100%
    );
}

.bg-affix4 {
    background-color: rgb(98, 0, 73);
    background-color: rgb(57,0,98);
    background: linear-gradient(
        90deg,
        rgb(1, 74, 156) 0%,
        rgb(29, 173, 209) 100%
    );
}

.box-affix {
    display: inline-block;
    width: 216px;
    height: 64px;
    padding: 6px 8px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
}

.line1 {
    background-color: #ffffff;
    height: 4px;
    width: 40px;
}

.card-item {
    box-shadow: rgba(49,53,59,0.12) 0px 1px 6px 0px;
    border-radius: 12px;
}

.card-body {
    padding: 10px;
}

.affix {
    width: 100%;
    background-color: white;
    left: 0;
    height: 76px;
}

.affix h4 {
    font-size: 15px;
    font-weight: bold;
}

.card-item-test {
    padding: 8px 32px;

}

.btn-green {
    width: 25%;
    color: #03ac0e;
    border: 1px solid #03ac0e;
    background-color: transparent;
    padding: 10px 70px;
    font-size: 20px;
    font-weight: bold;
}

.btn-green:hover {
    color: #03ac0e;
    border: 1px solid #929292;
}

/* Category Bottom */

.category-bottom{
    display: flex;
    flex-direction: column;
    
    
}

.head-category-bottom {
    width: 100%;
    /* overflow-x: scroll; */
    
    top: 120px;
    z-index: 99999;
    border-bottom: 1px solid #cdcdcd;
    background-color: #ffffff;
}

.head-category-bottom span {
    padding: 10px 30px;
    border-bottom: 2px solid transparent;
    color: #969696;
    font-weight: bold;
    font-size: medium;
}

.head-category-bottom span:hover {
    padding: 10px 30px;
    color: #03ac0e;
    border-bottom: 2px solid #03ac0e;
    cursor: pointer;
}

.category-bottom-item {
    position: relative;
    padding: 8px;
}

.category-bottom-item h4 {
    font-size: 14px;
}

.footer {
    position: relative;
    padding: 6px 
    
}

.footer img {
    width: 35%;
}

.footer h4 {
    font-size: 16px;
    color: rgb(255, 198, 46);
}

.footer h5 {
    padding-top: 12px;
    font-size: 14px;
}

.footer .btn-bukatoko {
    margin-top: 12px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    background-color: #03ac0e;
}

.footer .link-learnmore {
    font-size: 10px;
    font-weight: bold;
    color: #03ac0e;
    text-decoration: none;    
}

.footer .link-learnmore:hover {
    color: rgb(255, 198, 46) !important;
    cursor: pointer;
}

.footer-header {
    color: #03ac0e;
    font-weight: bold;
}

.footer-subtitle {
    margin-top: 4px;
    font-size: small;
}

.footer-credit {
    margin-left: 100px;
    margin-right: 100px;
}





    




